@import "reset.css";
@import "fonts";
@import "variables";
@import "grid";
@import "commons";

#app {
  height: 100vh;
  font-family: 'senregular', serif;
  color: $dark;

  @media screen and (max-width: 760px) {
    height: auto;
    padding: 2.5em 0;
  }
}

.home-view {
  display: flex;
  align-items: center;
  height: 100%;
  @media screen and (max-width: 760px) {
    padding: $padding;
  }
}
button {
  background: $hopper-blue;
  color: $dark;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $hopper-blue;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: white;
    color: $hopper-blue;
    transition: all 0.2s ease-in-out;
  }
}
