@import "../../assets/style/variables";

.calculator-wrapper {
  border-radius: $radius;
  height: 100%;
  display: flex;
  align-items: center;
  padding: $padding;
  background: $grey-bg;
  margin: $margin;
}
