@import "../../assets/style/variables";

.result-wrapper {
  border: 2px solid $hopper-blue;
  border-radius: $radius;
  height: 100%;
  display: flex;
  align-items: center;
  padding: $padding;
  margin: $margin;

  @media screen and (max-width: 760px) {
    margin-top: 25px;
  }
}
